body *:hover:not(html):not(body){
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}
body{
  background-image: linear-gradient(to bottom, #b9845a, #79573B, #E8A772);
  background-attachment: fixed;
  box-shadow: none;
}
p{
  text-align: justify;
}
footer{
  padding: 0.5rem 1rem;
  border: 2px solid; 
  display: inline-block;
}
.exemplo{
  text-decoration: underline;
  font-weight: bold;
  background-color: #ffff99;
}
dl{
  padding: 20px;
  font-family: "Georgia", serif;
  margin-top: -20px;
}
dt{
  font-weight: bold;
  margin-top: 15px;
  color: #2c2c2c;
}
dd{
  margin-left: 20px;
  color: silver; 
  font-style: italic;
}
