h3{
  font-family: luminari, fantasy;
  font-size: 25px;
  color: #111112111112111112111112111112111112111112111112111112111112111112;
  text-align: center;
  text-decoration: underline;
  text-decoration: blink;
  text-decoration: none;
  text-decoration: underline overline;
}
